

/*Portfolio css
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}
.top_header{
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(to left, #fff 85%, #c3f5ff 20%);
}
.nav {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: linear-gradient(to top, #fff 80%, #c3f5ff 20%);
  font-weight: bold;

  overflow: hidden;
  position: fixed;
  top: 0;
}

.leftlogo {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  animation: logo 2s linear infinite;
  animation-direction: alternate;
  color:#6c5ce7;
  font-weight: bolder;
  font-size: 25px;
}
@keyframes logo {
  from{padding-left: 40px;}
  to{padding-right: 40px;}
}
.rightMenu{
  width: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.rightMenu a{
  font-size: 18px;
  text-decoration: none;
  color: #000;
  font-weight:600;
  position: relative;
}
.rightMenu a:before{
  content: "";
    position: absolute;
    top: 100%;
    left: 0%;
    width: 0%;
    height: 2px;
    background-color:#d63031;
    transition: all 0.5s linear;
}
.rightMenu a:hover:before{
  width: 105%;
  background: #6c5ce7;
}
.home a::before{
  content: "";
  position: absolute;
  top: 100%;
  left: 0%;
  width: 100%;
  height: 2px;
  background-color:#00b894;
  transition: all 0.5s linear;
}
.about a::before{
  content: "";
  position: absolute;
  top: 100%;
  left: 0%;
  width: 100%;
  height: 2px;
  background-color:#00b894;
  transition: all 0.5s linear;
}
main{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-right: 50px;
  height: 100vh;
}
.leftContainer{
  box-sizing: border-box;
}
.leftContainer h3{
  font-size: 40px;
  margin-bottom: 20px;
  position: relative;
}
.leftContainer h3::after{
  content: "";
  width: 300px;
  height: 2px;
  position: absolute;
  top: 52%;
  left: 24.5%;
  background: #000;
}
.leftContainer h1{
  font-size: 50px;
  color: #000;
}
.leftContainer h2{
  font-weight: 500;
  font-size: 30px;
  color: #000;
  margin-top: 20px;
  margin-bottom: 20px;
}
.content_change::after{
  content: "";
  animation: changeSkill 10s infinite linear;
  color: #00cec9;
  text-shadow: 2px 2px 2px rgb(73, 80, 77);
  font-weight: 600;
  font-size:30px;
}
@keyframes changeSkill {
  15%{content: "MongoDB";}
  20%{content: "Express js";}
  40%{content: "React js";}
  60%{content: "Node js";}
  80%{content: "HTML5";}
  100%{content: "CSS3";}
}
.leftContainer .button1, .button2{
  text-decoration: none;
  font-weight: 900;
  font-size: 15px;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
  /* margin-right: 25px; */
  
}
.button1{
  padding: 10px 5px;
  /* margin-right: 25px; */
  color: #fff;
  background-image: linear-gradient(to right, #4458dc 0%, #854fee 100%);
  box-shadow: 0 10px 30px rgba(118, 85, 225, 0.3);
}
.button1:hover{
  border: 1px solid #4458dc;
  color: #222;
  background-color:#fff;
  box-shadow: none;
  background-image: none;
  transition: all 0.5s ease;
}
.button2{
 border: 1px solid #4458dc;
  color: #222;
  background-color:#fff;
  box-shadow: none;
  padding: 8px 15px;
  margin-left: 25px;
 
}
.button2:hover{
  color: #fff;
  background-image: linear-gradient(to right, #4458dc 0%, #854fee 100%);
  box-shadow: 0 10px 30px rgba(118, 85, 225, 0.3);
  transition: all 0.5s ease;
}
.rightContainer{
  border-radius: 40% 100% 70% 45% / 90% 100% 50% 90%  ;
  background: #e8fbff;
}
.rightContainer img{
  max-width: 500px;
  height: auto;
  margin-top: 20px;
}

/*pdf viewer css
*/

.pdfViewer{
  font-family: sans-serif;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width:100%;
  height: 80%;
  text-align: center;
  margin: 70px 20px 20px 0px;
  background-color: #636e72;
}

/* For pdf */
.react-pdf__Page {
  margin-top: 0px;
  background-color: #636e72;
}
.react-pdf__Page__textContent {
  border: 1px solid darkgrey;
  box-shadow: 3px 3px 3px 1px #ccc;
  border-radius: 5px;
  width: 100% !important;
  height: 100% !important;
}

.react-pdf__Page__annotations.annotationLayer {
  
}

.react-pdf__Page__canvas {
  margin: 0 auto;
  width: 100% !important;
  height: 100% !important;
}
.react-pdf__Page__annotations .annotationLayer section{
  height: 0% !important;
}

.linkAnnotation{
  height: 0% !important;
}


/*
 media query
*/
@media screen and (max-width:1024px) and (min-width:0px) {
  main{
    margin-right: 0px;
    margin-left:10px;
  }
  .toggleBtn{
    display:none;
    
  }
  .toggleBtn span{
    display:none;
  }
  .leftlogo {
    width: 50%;
    font-size: 45px;
  }
  .rightMenu{
    width: 50%;
  }
  .rightMenu a{
    font-size: 40px;
    font-weight:900;
  }
  .rightContainer img{
    max-width: 550px; 
  }
  .leftContainer h3{
    font-size: 50px;
  }
  .leftContainer h3::after{
    content: "";
    width: 270px;
    left: 30%;
  }
  .leftContainer h2{
    font-weight: 900;
    font-size: 37px;
    color: #000;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .content_change::after{
    content: "";
    animation: changeSkill 10s infinite linear;
    color: #00cec9;
    text-shadow: 2px 2px 2px rgb(73, 80, 77);
    font-weight: 600;
    font-size:30px;
  }
  .leftContainer .button1, .button2{
    font-size: 30px;  
  }
  .button1{
    padding: 16px 18px;
  }
  .button1:hover{
  }
  .button2{
    padding: 13px 25px;
    margin-left: 50px;
  }
  .button2:hover{
    color: #fff;
    background-image: linear-gradient(to right, #4458dc 0%, #854fee 100%);
    box-shadow: 0 10px 30px rgba(118, 85, 225, 0.3);
    transition: all 0.5s ease;
  }
}

@media screen and (max-width:768px) and (min-width:0px) {
  main{
    margin-right: 10px;
    margin-left:10px;
  }
  .toggleBtn{
    display:none;
    
  }
  .toggleBtn span{
    display:none;
  }
  .leftlogo {
    width: 50%;
    font-size: 35px;
  }
  .rightMenu{
    width: 50%;
    
  }
  .rightMenu a{
    font-size: 30px;
    font-weight:900;
  }
  .rightContainer img{
    max-width: 450px; 
  }
  .leftContainer h3{
    font-size: 40px;
  }
  .leftContainer h3::after{
    content: "";
    width: 185px;
    left: 31%;
  }
  .leftContainer .button1, .button2{
    font-size: 20px;
  }
  .button1{
    padding: 18px 8px;
  }
  .button1:hover{
  }
  .button2{
    padding: 15px 15px;
    margin-left: 50px;
  }
  .button2:hover{
    color: #fff;
    background-image: linear-gradient(to right, #4458dc 0%, #854fee 100%);
    box-shadow: 0 10px 30px rgba(118, 85, 225, 0.3);
    transition: all 0.5s ease;
  }
}
@media screen and (max-width:375px) and (min-width:0px) {
  main{
    display: block;
    align-items: center;
    margin-right: 0px;
  }
  
  .nav {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(to top, #fff 80%, #c3f5ff 20%);
    font-weight: bold;
    overflow: hidden;
    position: fixed;
    top: 0;
  }
  .top_header{
    margin-top: 60px;
    position: fixed;
  }
  .leftlogo {
    width: 60%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    animation: logo 2s linear infinite;
    animation-direction: alternate;
    color:#6c5ce7;
    font-weight: bolder;
    font-size: 20px;
  }
  @keyframes logo {
    from{padding-left: 10px;}
    to{padding-right: 10px;}
  }
  .toggleBtn{
    display:block;
    width: 45px;
    position:absolute;
    right:25px;
    top:20px;
  }
  .toggleBtn span{
    display:inline-block;
    width:100%;
    height:2px;
    background-color: #000;
  }
  .rightMenu{
    width: 20%;
    display:none;
  }
  .rightMenu a{
    font-size: 10px;
    font-weight:900;
  }
  .rightContainer img{
    max-width: 360px; 
    margin-top: 80px;
    text-align: center;
  }
  .leftContainer{
    margin-top: 40px;
  }
 
  .leftContainer h1{
    font-size: 20px;
  }
  .leftContainer h2{
    font-weight: 900;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .leftContainer h3{
    font-size: 20px;
    margin-bottom: 0px;
    position: relative;
    margin-top: 50px;
  }
  .leftContainer h3::after{
    content: "";
    width: 100px;
    height: 2px;
    position: absolute;
    top: 52%;
    left: 14%;
    background: #000;
  }
  .leftContainer .button1, .button2{
    font-size: 16px;
  }
  .rightContainer{
    border-radius: 30% 40% 40% 30% / 30% 30% 90% 70%  ;
    background: #e8fbff;
  }
  .button1{
    padding: 8px 5px;
  }
  .button1:hover{
  }
  .button2{
    padding: 7px 8px;
    margin-left: 20px;
  }
  .button2:hover{
    color: #fff;
    background-image: linear-gradient(to right, #4458dc 0%, #854fee 100%);
    box-shadow: 0 10px 30px rgba(118, 85, 225, 0.3);
    transition: all 0.5s ease;
  }
}
@media only screen and (min-width: 414px) and (max-width: 767px) {
  main{
    display: block;
    align-items: center;
    margin-right: 0px;
  }
  .toggleBtn{
    display:block;
    width: 55px;
    position:absolute;
    right:20px;
    top:21px;
  }
  .toggleBtn span{
    display:inline-block;
    width:100%;
    height:2px;
    background-color: #000;
  }
  .nav {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(to top, #fff 80%, #c3f5ff 20%);
    font-weight: bold;
    overflow: hidden;
    position: fixed;
    top: 0;
  }
  .top_header{
    margin-top: 60px;
    position: fixed;
  }
  .leftlogo {
    width: 60%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    animation: logo 2s linear infinite;
    animation-direction: alternate;
    color:#6c5ce7;
    font-weight: bolder;
    font-size: 20px;
  }
  @keyframes logo {
    from{padding-left: 10px;}
    to{padding-right: 10px;}
  }
  .navigation{
    display:none;
  }
  .rightMenu{
    width: 20%;
    height:40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: midnightblue;
    align-items: center;
    margin-right: 10px;
    border-radius: 10px;
    margin-top: -23px;
  }
  .rightMenu a{
    font-size: 10px;
    font-weight:900;
    margin: 10px;
    color: whitesmoke;
    text-decoration: none;
  }
  .rightMenuResumeView{
    width: 50%;
    height: 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: midnightblue;
    align-items: center;
    margin-right: 10px;
    border-radius: 10px;
    margin-top: 70px;
  }
  .rightMenuResumeView a{
    font-size: 10px;
    font-weight:900;
    margin: 10px;
    color: whitesmoke;
    text-decoration: none;
  }
  .rightContainer img{
    max-width: 300px; 
    margin-top: 80px;
    text-align: center;
  }
  .leftContainer{
    margin-top: 40px;
    display:flex;
    justify-content: space-between;
  }
  .leftContainer h3{
    font-size: 20px;
    margin-bottom: 0px;
    position: relative;
    margin-top: 50px;
  }
  .leftContainer h3::after{
    width: 100px;
    height: 2px;
    position: absolute;
    top: 52%;
    left: 23%;
    background: #000;
  }
 
  .leftContainer h1{
    font-size: 20px;
  }
  .leftContainer h2{
    font-weight: 900;
    font-size: 18px;
    margin-top: 0px;
    margin-bottom: 50px;
  }
  .toggleNavBar{
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    width:100px;
    background:#00b894;
    
  }
 .toggleNavBar a{
   display:flex;
 }
  .leftContainer .button1, .button2{
    font-size: 16px;
  }
  .rightContainer{
    border-radius: 30% 40% 40% 30% / 30% 30% 90% 70%  ;
    background: #e8fbff;
  }
  .button1{
    padding: 8px 5px;
  }
  .button1:hover{
  }
  .button2{
    padding: 7px 8px;
    margin-left: 20px;
  }
  .button2:hover{
    color: #fff;
    background-image: linear-gradient(to right, #4458dc 0%, #854fee 100%);
    box-shadow: 0 10px 30px rgba(118, 85, 225, 0.3);
    transition: all 0.5s ease;
  }
  .pdfViewer{
    margin: 80px 20px 20px 0px;
  }
  .toggleResumePdfViewer{
      font-family: sans-serif;
      display: flex;
      justify-content: space-around;
      align-items: center;
      width:100%;
      height: 80%;
      text-align: center;
      margin: 10px 20px 20px 0px;
      background-color: #636e72;
  }

}



